# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vscode
dist
node_modules

# lib
lib/browser/babylonjs-fbx-loader-master


public/*
!public/vite.svg

plugins/*
!plugins/NodePolyFillsPlugin

scripts/*
!scripts/managePage

# src
src/*

# TODO
!src/assets
src/assets/*
!src/assets/vue.svg

!src/lib
src/lib/*
!src/lib/babylon-helper

!src/utils
src/utils/*
!src/utils/unique.ts

!src/vite-env.d.ts

!src/pages
src/pages/*
!src/pages/mbabylon

static/*
!static/temp



# test
test
test-lib

stats.html
